footer.footer
  text-align: center
  > p a
    color: $purple-lighter
    &:hover
      color: $purple-lighter
      text-decoration: underline

  details summary
    &:hover
      cursor: pointer
      text-decoration: underline

  .modal .box .content
    text-align: left
